<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ywc.mgt.processcontrol.base.dao.ProcessMapper">
  <resultMap id="BaseResultMap" type="com.ywc.mgt.processcontrol.base.model.po.ProcessPo">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="PROCESS_ID" jdbcType="VARCHAR" property="processId" />
    <result column="BPM_ID" jdbcType="VARCHAR" property="bpmId" />
    <result column="PROCESS_ORDER" jdbcType="VARCHAR" property="processOrder" />
  </resultMap>
</mapper>